h1{
    color:blue
}

*{
    border:solid
}

.header{
    background-color: darkmagenta;
    display: flex;
    justify-content: space-evenly;
}

.middle{
    background-color: coral;
    display: flex;
    justify-content: space-evenly;
}

.footer{
    background-color:gold ;
    display: flex;
    justify-content:space-evenly;
}